@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: theme("colors.main");
  font-size: 16px;
}

input {
  cursor: text;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;

  margin: 0px;
  padding: 0px;
}

button {
  display: block;
  box-sizing: border-box;

  padding: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

svg {
  color: inherit;
}

ul,
li,
ol {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

.body-scroll-lock {
  overflow: hidden;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

button:hover .arrow-icon,
a:hover .arrow-icon {
  animation: pulse 1.2s infinite;
}

.agreement ol ol li {
  list-style-type: decimal;
}

#hmanright {
  transform-origin: 0px 0px;
  transform: matrix(0.96213, -0.2726, 0.2726, 0.96213, -38.51373, 144.35608);
  transition: transform 0.3s ease;
}
