@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: theme("colors.main");
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

input {
  cursor: text;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;

  margin: 0px;
  padding: 0px;
}

button {
  display: block;
  box-sizing: border-box;

  padding: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

svg {
  color: inherit;
}

ul,
li,
ol {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

.body-scroll-lock {
  overflow: hidden;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

button:hover .arrow-icon,
a:hover .arrow-icon {
  animation: pulse 1.2s infinite;
}

.agreement ol ol li {
  list-style-type: decimal;
}

#hmanright {
  transform-origin: 0px 0px;
  transform: matrix(0.96213, -0.2726, 0.2726, 0.96213, -38.51373, 144.35608);
  transition: transform 0.3s ease;
}

.honors {
  background-image: url("/images/agreement/cup.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;

  @media screen and (min-width: 1200px) {
    background-position: center;
  }
}

.arrow {
  fill: theme("colors.red");
}

.rounded-button:hover .arrow,
.pagination-page:hover .arrow {
  fill: white;
}

.algorithm.swiper-slide {
  width: 200px;
  height: 100px;
}

.box-clock-shadow {
  box-shadow: 0px 10px 50px 0px #afaeae26;
}

.project-swiper .swiper-wrapper {
  padding: 16px 0;
}

.faq li {
  list-style: decimal;
}

.cross {
  fill: theme("colors.red");
  transition: transform 0.3s ease;
}

.cross-button:hover .cross {
  fill: white;
  transform: rotate(90deg);
}

.blanc,
.heart {
  fill: theme("colors.red");
}

article:hover .blanc,
article:hover .heart {
  fill: white;
}

article:hover .i-trade-link,
article:hover .i-trade-text {
  color: white;
}

.shinstagram:hover {
  filter: drop-shadow(0px 41px 62px rgba(194, 25, 117, 0.51));
}

.shtelegram:hover {
  filter: drop-shadow(0px 41px 62px rgba(0, 136, 204, 0.51));
}

.shfacebook:hover {
  filter: drop-shadow(0px 41px 62px rgba(24, 119, 242, 0.51));
}

.shviber:hover {
  filter: drop-shadow(0px 41px 62px rgba(111, 63, 170, 0.51));
}

.shmessanger:hover {
  filter: drop-shadow(0px 41px 62px rgba(160, 51, 255, 0.51));
}

.shyoutobe:hover {
  filter: drop-shadow(0px 41px 62px rgba(255, 0, 0, 0.51));
}

.back {
  fill: theme("colors.red");
}

a:hover .back {
  fill: white;
}

@keyframes moveBackground {
  from {
    background-position: 60% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url("/images/recreations/np-arrow.svg");
  background-repeat: repeat;
  background-size: 150px 150px;
  transform: rotate(45deg);
  transform-origin: center;
  animation: moveBackground 250s linear infinite;
  z-index: 0;
}

.pagination-container {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-page {
  width: 44px; /* Розмір сторінки */
  height: 44px; /* Розмір сторінки */
  background-color: white; /* Червоний колір */
  border-radius: 50%; /* Округлість */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px; /* Відступи між сторінками */
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: theme("colors.red");
}

.pagination-page:hover {
  background-color: theme("colors.red");
  color: white;
}

.pagination-active {
  border: 1px theme("colors.red") solid; /* Жирний шрифт для активної сторінки */
  /* Колір тексту */
}

.edit,
.trash {
  stroke: theme("colors.red");
}
.archive {
  fill: theme("colors.red");
}

button:hover .edit,
button:hover .trash {
  stroke: white;
}

button:hover .archive {
  fill: white;
}
